/**************************** NAV ************************/

.logoheader
{
    width: 20vh;
    margin-bottom: -0.5vh;
    height: 6vh;
    border: 2px solid white;
    background-color: white;
}
.titre
{
    font-size: 14px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    margin-bottom: 0vh;
    color: white;
    font-style: normal;
    font-stretch: condensed;
}
nav
{
    background-color: #ce352c; 
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-weight: bold;
}
.navbar-collapse
{
    font-size: 2.1vh;
}
.bg-light 
{
    margin-bottom: -1vh;
}


/**************************** FOOTER ********************************/
footer
    {
        background-color:#ce352c;
        display: flex;
        justify-content: center;
    }
   
 .logofooter
    {
       height: 5vh;
       width: 5vh;
       border-radius: 148%;
       margin-top: 13px;
       padding-left: 0vh;
       margin-left: 30px;
       margin-right: 6px;
    }

a button
{
    margin: 19px;
}
.copyright
{ 
    color: white;
    margin-top: 3vh;
    font-family: monospace;
    font-size: larger;
}
