    /*********************** BODY *****************************/
    body
    {
        line-height: "3,2em";
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        background-color: beige; 
        color: brown;
        background-image: url('expert.jpg')>
    }
    
    
    /**************************** NAV ************************/

    
    .titre
    {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 0vh;
        color: white;
        font-style: normal;
        font-stretch: condensed;
    }
    nav
    {
        background-color: #ce352c; 
    
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        font-weight: bold;
      
    }

    .navbar-collapse
    {
        font-size: 2.1vh;
    }
    .bg-light 
    {
        margin-bottom: -1vh;
    }
    a{color: white;}

    /*****************************HEADER **********************/
    header {
        justify-content: center;
        background-color: #ce352c;
        position: absolute;
        top: -82px;
        width: 100%;
    }

    .présentation
    {
        width: 76vh;
        margin: 0 auto;
        display: flex;
        text-align: center;
        font-size: xx-large;
        padding: 10vh;
        font-family: fantasy;
    }


    h1 {
        
        font-size: 30px;
        font-family: inherit;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        color: red;
    }


h2 {
    font-size: 30pxrem;
    margin: 83px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    color: #ce352c;
    width: 33%;
    background-color: white;
}

    



/***************************** TABLE **********************/

td {background-color: whitesmoke !important; }

.table td, .table th
{
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

    /**************************** FOOTER ********************************/
    footer {
        background-color: #ce352c;
        display: flex;
        justify-content: center;
        }
    
    .logofooter
        {
        height: 5vh;
        width: 5vh;
        border-radius: 148%;
        margin-top: 13px;
        padding-left: 0vh;
        margin-left: 30px;
        margin-right: 6px;
        }

    a button
    {
        margin: 19px;
    }
    .copyright
    { 
        color: white;
        margin-top: 3vh;
        font-family: monospace;
        font-size: larger;
    }

    /****************************************Connexion******************************/

   body{
    
    height:100%;
    width:100%;
}

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color: #ce352c;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 450px;
    margin: 0 auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 31px;
    border: #a52821;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/user-512.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/user-512.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
  background-position: 11px 8px;
    background-repeat: no-repeat;
}

#password{
    background-image: url(https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Safety01-128.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#password:focus{
    background-image: url(https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Safety01-128.png);
    background-size: 30px 30px;
  background-position: 11px 8px;
    background-repeat: no-repeat;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #4b5d6a;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #ce352c;
}
    
.submit:hover {
    color: #3498db;
}
    
.ease {
    width: 0px;
    height: 48px;
    background-color: #fbfbfb;
    -webkit-transition: 1.10s ease;
    -moz-transition: 1.10s ease;
    -o-transition: 1.10s ease;
    -ms-transition: 1.10s ease;
    transition: 1.10s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

    /*************************************** INSCRIPTION ********************************/
    .form1 {
        margin: 0 auto;
        text-align: center;
        height: 99vh;
        width: 70vh;
        padding-top: 0vh;
    }
    /***************************************IMG****************************************/
    td img
    {
        margin: 0px 20px;
    }
    /***************************************MAQUETTE 3***********************************/
    .societegerer 
    {
        font-size: 2.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        margin-top: 13vh;
    }

    .table {
        width: 83%;
    }

    
    }

    /***************************************MAQUETTE 4***********************************/
    .col-form-label {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1;
    }

    .form4 {
        margin: 0 auto;
        height: 62vh;
        width: 136vh;
        padding-top: 4vh;
        margin-bottom: 18vh;
    }

.form-group4
{
    display: flex;
    margin-bottom: 5vh;
}

    input[type=submit]{
        width: 23vh;
    }
    
    /**header h1
    {
        display: flex;
        justify-content: center;
        
    }


    #form-outer
    {
        background-color: rgb(250, 250, 250);
        margin:0 auto;
        border-radius: 6px;
        width: 75%;
        max-width: 900px;
        padding: 10px;
        padding-top: 30px;
    }
    .labels
    {
        display: inline-block;
        text-align: right;
        width: 40%;
        padding: 5px;
        vertical-align: top;
        margin-top: 10px;
    }
    .rightTab
    {
        display: inline-block;
        text-align: left;
        width: 48%;
        vertical-align: middle;
    }
    .input-field
    {
        height: 20px;
        width: 280px;
        padding: 5px;
        margin:10px;
        border: 1px solid #c0c0c0;
        border-radius: 2px;
    }
    #userAge
    {
        width: 40px;
    }
    .userRatings, input[type="checkbox"] 
    {
        float: left;
        margin-right: 5px;
    }   
    #submit {
        background-color: #59ace0;
        border-radius: 4px;
        color: white;
        font-size: 1em;
        height: 30px;
        width: 105px;
        margin: 1px;
        border: 0px solid;
    }

    .societegerer1 {
        font-size: 1.8rem;
        margin: 83px auto;
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
    } **/

    /*************************************************** MAQUETTE 6 ********************************************/

    .form6 {
        margin: 0 auto;
        height: 70vh;
        width: 150vh;
        padding-top: 13vh;
    }


    /************************************************** MAQUETTE 7 **********************************************/



    /************************************************** MAQUETTE 8 *******************************************/

    .form8 {
        margin: 0 auto;
        min-height: 45vh;
        width: 98vh;
        padding-top: 4vh;
    }
    
    

    .container8
    {
        margin-right: -71vh;
    }


    /************************************************POPUP*************************************************/

    #page{
        width:660px;
        /*margin:140px auto 60px;*/
        margin: 225px auto 60px;
    }
    
    
    
    img .delete{
        background:url('https://i.imgur.com/e8sEEB0.png') no-repeat;
        width:37px;
        height:38px;
        position:absolute;
        cursor:pointer;
        top:10px;
        right:-80px
    }
    
    .item a{
        background-color: #FAFAFA;
        border: none;
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    
    .item a img{
        display:block;
        border:none;
    }
    
    #confirmOverlay{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        /*background:url('http://demo.tutorialzine.com/2010/12/better-confirm-box-jquery-css3/jquery.confirm/ie.png');*/
        background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
        z-index:100000;
      
    z-index: 1040;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    
      
    }
    
    
    #confirmBox{
        background: #FFF;
        width:460px;
        position:fixed;
        left:50%;
        top:50%;
        margin:-130px 0 0 -230px;
        border: 1px solid rgba(33, 33, 33, 0.6);
        
        -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    }
    
    #confirmBox h1,
    #confirmBox p{
        font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        padding: 18px 25px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
        color:#666;
    }
    
    #confirmBox h1{
        letter-spacing:0.3px;
        color:#888;
    }
    
    #confirmBox p{
        background:none;
        font-size:16px;
        line-height:1.4;
        padding-top: 35px;
    }
    
    #confirmButtons{
        padding:15px 0 25px;
        text-align:center;
    }
    
    #confirmBox .button{
        display:inline-block;
        background: #0E8DCE;
        color:white;
        position:relative;
        height: 33px;
        font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        margin-right: 15px;
        padding: 0 35px 0 40px;
        text-decoration:none;
        border:none;
    }
    
    #confirmBox .button:last-child{ margin-right:0;}
    
    #confirmBox .button span{
        position:absolute;
        top:0;
        right:-5px;
        background: #0E8DCE;
        width:5px;
        height:33px
    }
    
    #confirmBox .blue{              background-position:left top;text-shadow:1px 1px 0 #5889a2;}
    #confirmBox .blue span{         background-position:-195px 0;}
    #confirmBox .blue:hover{        background-position:left bottom;}
    #confirmBox .blue:hover span{   background-position:-195px bottom;}
    
    #confirmBox .gray{              background-position:-200px top;text-shadow:1px 1px 0 #707070;}
    #confirmBox .gray span{         background-position:-395px 0;}
    #confirmBox .gray:hover{        background-position:-200px bottom;}
    #confirmBox .gray:hover span{   background-position:-395px bottom;}