    /*********************** BODY *****************************/
    body
    {
        line-height: "3,2em";
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        color: black;
  
    }
    
/******************************COntainer******************************************/
    #container{
        background-color: beige;
        border-radius: 2%;
}

    /**************************** NAV ************************/

    
    .titre
    {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 0vh;
        color: white;
        font-style: normal;
        font-stretch: condensed;
    }
    nav
    {
        background-color: #ce352c; 
    
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        font-weight: bold;
      
    }

    .navbar-collapse
    {
        font-size: 2.1vh;
    }
    .bg-light 
    {
        margin-bottom: -1vh;
    }
    a{color: white;}

    /*****************************HEADER **********************/
    header {
        justify-content: center;
        background-color: #ce352c;
        position: absolute;
        top: -82px;
        width: 100%;
    }

    .présentation
    {
        width: 76vh;
        margin: 0 auto;
        display: flex;
        text-align: center;
        font-size: xx-large;
        padding: 10vh;
        font-family: fantasy;
    }


    h1 {
        
    font-size: 30px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    color: #ce352c;
    margin-top:7vh;
    }



h2 {
    font-size: 30pxrem;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    color: #ce352c;
}
 footer {
    width: 33%;
    background-color: white;
    font-family: cursive;
    width: 25%;

}

/*****************************Logo*******************************/

.logosociete
{
    margin: 0 auto;
    display: flex;
    height: 5vh
}




    



/***************************** TABLE **********************/

.table-secondary th
{
    background-color: #ce352c; color: white;
}

button
{
    margin: 0 auto;
    display: flex;
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

tbody
{
    background-color: #e6e6e6;
    color: black;
} 
table tbody tr td a 
{
    color:black}
.table td, .table th 
{
    border:none !important;
}
.table tbody+tbody {border:none;}

    /**************************** FOOTER ********************************/
    footer   {
        background-color: #ce352c;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0% !important;
        width: 100%;
    }
    .logofooter
        {
        height: 5vh;
        width: 5vh;
        border-radius: 148%;
        margin-top: 13px;
        padding-left: 0vh;
        margin-left: 30px;
        margin-right: 6px;
        }

    a button
    {
        margin: 19px;
    }
    .copyright
    { 
        color: white;
        margin-top: 3vh;
        font-size: larger;
    }

    /****************************************Connexion******************************/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');


.container{

    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
    transform: translateX(0%);
    background-color: #ce352cdb;
    border-radius: 9px;
    border-top: 10px solid #efefef;
    border-bottom: 10px solid #ffffff;
    width: 400px;
    height: 500px;
}
.login
{
      vertical-align: middle;
    border-style: none;
    height: 15vh;
    margin-top: 70px;
}


.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0; 
  font-size: 18px;
  margin-top:94px;;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"] {
  display: block;
    margin: 20px auto;
    background: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #000000;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}


.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;

}

a{
    color: #ce352c;
    text-decoration: underline;;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  border: 2px solid grey;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 7.5%;
}

.btn1 {
  border:0;
  background: #fff;
  color: black;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background:grey;
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}


.forgetpass a {
  position: relative;
  float: right;
  right: 28px;
  color:white;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 24%;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 605px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer .fa {
  color: #7f5feb;;
}
    /*************************************** INSCRIPTION ********************************/
    .form1 {
        margin: 0 auto;
        text-align: center;
        height: 99vh;
        width: 70vh;
        padding-top: 0vh;
    }
    /***************************************IMG****************************************/
    td img
    {
        height:3vh;
    }
    /***************************************MAQUETTE 3***********************************/
    .societegerer 
    {
        font-size: 2.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        margin-top: 13vh;
    }

    .table {
        width: 83%;
    }

    


    /***************************************MAQUETTE 4***********************************/
    .col-form-label {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1;
    }

    .form4 {
        margin: 0 auto;
        height: 62vh;
        width: 136vh;
        padding-top: 4vh;
        margin-bottom: 18vh;
    }

.form-group4
{
    display: flex;
    margin-left: 89px;
}

    input[type=submit]{
        width: 23vh;
    }
    
    /**header h1
    {
        display: flex;
        justify-content: center;
        
    }


    #form-outer
    {
        background-color: rgb(250, 250, 250);
        margin:0 auto;
        border-radius: 6px;
        width: 75%;
        max-width: 900px;
        padding: 10px;
        padding-top: 30px;
    }
    .labels
    {
        display: inline-block;
        text-align: right;
        width: 40%;
        padding: 5px;
        vertical-align: top;
        margin-top: 10px;
    }
    .rightTab
    {
        display: inline-block;
        text-align: left;
        width: 48%;
        vertical-align: middle;
    }
    .input-field
    {
        height: 20px;
        width: 280px;
        padding: 5px;
        margin:10px;
        border: 1px solid #c0c0c0;
        border-radius: 2px;
    }
    #userAge
    {
        width: 40px;
    }
    .userRatings, input[type="checkbox"] 
    {
        float: left;
        margin-right: 5px;
    }   
    #submit {
        background-color: #59ace0;
        border-radius: 4px;
        color: white;
        font-size: 1em;
        height: 30px;
        width: 105px;
        margin: 1px;
        border: 0px solid;
    }

    .societegerer1 {
        font-size: 1.8rem;
        margin: 83px auto;
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
    } **/

    /*************************************************** MAQUETTE 6 ********************************************/

    .form6 {
        margin: 0 auto;
        height: 70vh;
        width: 150vh;
        padding-top: 13vh;
    }


    /************************************************** MAQUETTE 7 **********************************************/



    /************************************************** MAQUETTE 8 *******************************************/

    .form8 {
        margin: 0 auto;
        min-height: 45vh;
        width: 98vh;
        padding-top: 4vh;
    }
    
    

    .container8
    {
        margin-right: -71vh;
    }


    /************************************************POPUP*************************************************/

    #page{
        width:660px;
        /*margin:140px auto 60px;*/
        margin: 225px auto 60px;
    }
    
    
    
    img .delete{
        background:url('https://i.imgur.com/e8sEEB0.png') no-repeat;
        width:37px;
        height:38px;
        position:absolute;
        cursor:pointer;
        top:10px;
        right:-80px
    }
    
 
    
    .item a img{
        display:block;
        border:none;
    }
    
    #confirmOverlay{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
        z-index:100000;
      
    z-index: 1040;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    
      
    }
    
    
    #confirmBox{
        background: #FFF;
        width:460px;
        position:fixed;
        left:50%;
        top:50%;
        margin:-130px 0 0 -230px;
        border: 1px solid rgba(33, 33, 33, 0.6);
        
        -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    }
    
    
    #confirmBox p{
        font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        padding: 18px 25px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
        color:#666;
    }
    
   
    
    #confirmBox p{
        background:none;
        font-size:16px;
        line-height:1.4;
        padding-top: 35px;
    }
    
    #confirmButtons{
        padding:15px 0 25px;
        text-align:center;
    }
    
    #confirmBox .button{
        display:inline-block;
        background: #0E8DCE;
        color:white;
        position:relative;
        height: 33px;
        font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        margin-right: 15px;
        padding: 0 35px 0 40px;
        text-decoration:none;
        border:none;
    }
    
    #confirmBox .button:last-child{ margin-right:0;}
    
    #confirmBox .button span{
        position:absolute;
        top:0;
        right:-5px;
        background: #0E8DCE;
        width:5px;
        height:33px
    }
    
    #confirmBox .blue{              background-position:left top;text-shadow:1px 1px 0 #5889a2;}
    #confirmBox .blue span{         background-position:-195px 0;}
    #confirmBox .blue:hover{        background-position:left bottom;}
    #confirmBox .blue:hover span{   background-position:-195px bottom;}
    
    #confirmBox .gray{              background-position:-200px top;text-shadow:1px 1px 0 #707070;}
    #confirmBox .gray span{         background-position:-395px 0;}
    #confirmBox .gray:hover{        background-position:-200px bottom;}
    #confirmBox .gray:hover span{   background-position:-395px bottom;}

    /********************************************Formulaire utilisateur*****************************************/
    .row{      
    padding-left: 103px;
    }

    form label{
            max-width: 12.666667%;
    }

    button a{
        color:white;
    }
